        {{#queryParams}}
        {{#-first}}
        final Multimap<String, String> queryParams = new TreeMapSetMultimap<>(inputOptions.getQueryParams());
        {{/-first}}
        {{/queryParams}}
        {{#queryParams}}
        {{#isListContainer}}
        if ({{paramName}} != null) {
            {{#isEnum}}
            queryParams.putAll("{{baseName}}", Converter.convertEnumListToStringList({{paramName}}));
            {{/isEnum}}
            {{^isEnum}}
            {{#isUuid}}
            queryParams.putAll("{{baseName}}", Converter.convertUUIDListToStringList({{paramName}}));
            {{/isUuid}}
            {{^isUuid}}
            queryParams.putAll("{{baseName}}", {{paramName}});
            {{/isUuid}}
            {{/isEnum}}
        }
        {{/isListContainer}}
        {{^isListContainer}}
        {{#isMapContainer}}
        {{#isQueryPluginProperty}}
        if ({{paramName}} != null) {
            queryParams.putAll("{{baseName}}", Converter.convertPluginPropertyMap({{paramName}}));
        }
        {{/isQueryPluginProperty}}
        {{/isMapContainer}}
        {{^isMapContainer}}
        if ({{paramName}} != null) {
            {{#isDateTime}}
            queryParams.put("{{baseName}}", DateTimeFormatter.ISO_OFFSET_DATE_TIME.format({{paramName}}));
            {{/isDateTime}}
            {{^isDateTime}}
            queryParams.put("{{baseName}}", String.valueOf({{paramName}}));
            {{/isDateTime}}
        }
        {{/isMapContainer}}
        {{/isListContainer}}
        {{/queryParams}}